body {
    font-family: Arial, sans-serif;
    background-color: #b5adad;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.contact-form {
    background-color: #d7d7d7;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 400px;
    margin-top: 270px;
    margin-bottom: 50px;
}

.contact-form h1 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

.contact-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #c1c1c1;
    border: none;
    border-radius: 5px;
    color: #000000;
}

.contact-form button {
    width: 100%;
    padding: 10px;
    background-color: #444;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #555;
}
